:root {
  --baseColor: #1c1d21;
  --secundary: #011936;
  --color1: #273043;
  --primary: #fbfbff;
  --grey100: #c7c7c7;
  --test: #5484f1;
  --darkGrey: #3f3f3f;
  --mediumGrey: #707070;
  --talyGrey: #DADED4;

  --darkGreen: #164a41;
  --mediumGreen: #4d774e;
  --lightGreen: #9dc88d;
}

body {
  margin: 0px;
}
